@import '~styles/mixins';

.navigation {
  @apply bg-gray-800;
}

.navigation__container { 
  @apply
    lg:px-8
    max-w-7xl
    mx-auto
    px-2
    sm:px-6
}

.navigation__content {
  @apply
    flex
    h-16
    items-center
    justify-between
    relative;
}

.navigation__mobile-menu {
  @apply
    absolute
    inset-y-0
    left-0
    flex
    items-center
    sm:hidden
}

.navigation__mobile-menu-button {
  @apply
    focus:outline-none
    focus:ring-2
    focus:ring-inset
    focus:ring-white
    hover:bg-gray-700
    hover:text-gray-400
    inline-flex
    items-center
    justify-center
    p-2
    rounded-md
    text-white
}

.navigation__link {
  @apply
    font-medium
    hover:bg-gray-700
    hover:text-white
    px-3
    py-2
    rounded-md
    text-gray-300
    text-sm
}

.navigation__link--active {
  @apply bg-gray-900;
}

/*
 * Desktop nav
 */

.navigation__desktop-nav {
  @apply
    flex
    flex-1
    items-center
    justify-center
    sm:items-stretch
    sm:justify-start
}

.navigation__desktop-nav-title {
  @apply
    flex
    hidden
    items-center
    sm:flex
    sm:ml-6
    text-center  
    text-white
}

.navigation__desktop-nav-container {
  @apply hidden sm:block sm:ml-6;
}

.navigation__desktop-nav-wrapper {
  @apply flex space-x-4;
}

/*
 * Mobile nav
 */

.navigation__mobile-nav {
  @apply sm:hidden
}

.navigation__mobile-nav-wrapper {
  @apply px-2 pt-2 pb-3 space-y-1
}

.navigation__mobile-link {
  @apply
    block
    font-medium
    px-3
    py-2
    rounded-md
    text-base
    text-white
}





